// ------------------------------------------------------------
// :: Colors
// ------------------------------------------------------------

// Gentellela Alela Colors
$dark-blue                 : #2a3f54;
$blue-text                 : #73879c;
$button-success-bkg        : #26B99A;
$button-success-border     : #169F85;
$button-dark-bkg           : #4B5F71;
$button-dark-border        : #364B5F;


// ------------------------------------------------------------
// :: Brand Colors from Mobile Styleguide
// ------------------------------------------------------------
//	White
$white-base                : #FFFFFF;
$white-d10                 : #E5E5E5;
$white-d20                 : #CCCCCC;
$white-d30                 : #B2B2B2;
$white-d40                 : #999999;
$white-d50                 : #7F7F7F;
$white-d80                 : #333333;

//	Medium Grey
$med_grey-l100             : #FFFFFF;
$med_grey-l80              : #F0EFEF;
$med_grey-l64              : #d8d6d6;
$med_grey-l48              : #CFCdCd;
$med_grey-l32              : #C6C4C3;
$med_grey-l16              : #BdBBBA;
$med_grey-base             : #B5B2B1;
$med_grey-d10              : #A29F9E;
$med_grey-d20              : #908E8d;
$med_grey-d30              : #7E7C7B;
$med_grey-d40              : #6C6A6A;
$med_grey-d50              : #5A5858;
$med_grey-d80              : #242323;

//	Dark Grey
$dark_grey-l100            : #FFFFFF;
$dark_grey-l80             : #E0E0E0;
$dark_grey-l64             : #C7C7C7;
$dark_grey-l48             : #AEAEAE;
$dark_grey-l32             : #959595;
$dark_grey-l16             : #7C7C7C;
$dark_grey-base            : #646464;
$dark_grey-d10             : #595959;
$dark_grey-d20             : #505050;
$dark_grey-d30             : #454545;
$dark_grey-d40             : #3C3C3C;
$dark_grey-d50             : #313131;
$dark_grey-d80             : #191919;

//	Yellow
$yellow-l100               : #FFFFFF;
$yellow-l80                : #FFF4Cd;
$yellow-l64                : #FFECA6;
$yellow-l48                : #FFE37F;
$yellow-l32                : #FFdC5B;
$yellow-l16                : #FFd43A;
$yellow-base               : #FFCd26;
$yellow-d10                : #E9B821;
$yellow-d20                : #d0A41C;
$yellow-d30                : #B58F17;
$yellow-d40                : #9C7B12;
$yellow-d50                : #81660d;
$yellow-d80                : #342902;

//	Deep Red
$deep_red-l100             : #FFFFFF;
$deep_red-l80              : #F3CECE;
$deep_red-l64              : #E9A8A7;
$deep_red-l48              : #E08281;
$deep_red-l32              : #d55d5B;
$deep_red-l16              : #CB3835;
$deep_red-base             : #C11913;
$deep_red-d10              : #AC1610;
$deep_red-d20              : #9A130E;
$deep_red-d30              : #86100C;
$deep_red-d40              : #730d0A;
$deep_red-d50              : #5F0A08;
$deep_red-d80              : #1E0202;

//	Magenta
$magenta-l100              : #FFFFFF;
$magenta-l80               : #FBCdE4;
$magenta-l64               : #F7A5CE;
$magenta-l48               : #F27EB9;
$magenta-l32               : #EF59A4;
$magenta-l16               : #EA368F;
$magenta-base              : #E71F7A;
$magenta-d10               : #CE1B6d;
$magenta-d20               : #B81662;
$magenta-d30               : #A01255;
$magenta-d40               : #8A0E49;
$magenta-d50               : #720A3d;
$magenta-d80               : #2E0218;

//	Pale Blue
$pale_blue-l100            : #FFFFFF;
$pale_blue-l80             : #ddE7F2;
$pale_blue-l64             : #C2d4E7;
$pale_blue-l48             : #A8C2dd;
$pale_blue-l32             : #8dAFd3;
$pale_blue-l16             : #729CC9;
$pale_blue-base            : #578AC0;
$pale_blue-d10             : #4E7CAC;
$pale_blue-d20             : #466E99;
$pale_blue-d30             : #3C6085;
$pale_blue-d40             : #345372;
$pale_blue-d50             : #2B455F;
$pale_blue-d80             : #111B26;

//	Deep Blue
$deep_blue-l100            : #FFFFFF;
$deep_blue-l80             : #CBd8E5;
$deep_blue-l64             : #A1B9d0;
$deep_blue-l48             : #769BBC;
$deep_blue-l32             : #4C7dA8;
$deep_blue-l16             : #1C5E94;
$deep_blue-base            : #003E81;
$deep_blue-d10             : #003972;
$deep_blue-d20             : #003366;
$deep_blue-d30             : #002d59;
$deep_blue-d40             : #00264C;
$deep_blue-d50             : #001F3F;
$deep_blue-d80             : #000C19;

//	Aqua
$aqua-l100                 : #FFFFFF;
$aqua-l80                  : #CAECEd;
$aqua-l64                  : #9FdddF;
$aqua-l48                  : #73CEd1;
$aqua-l32                  : #45C0C3;
$aqua-l16                  : #00B1B5;
$aqua-base                 : #00A3A7;
$aqua-d10                  : #009295;
$aqua-d20                  : #008285;
$aqua-d30                  : #007174;
$aqua-d40                  : #006264;
$aqua-d50                  : #005153;
$aqua-d80                  : #002021;

//	Petrol Blue
$petrol_blue-l100          : #FFFFFF;
$petrol_blue-l80           : #CAE2E7;
$petrol_blue-l64           : #A0CBd4;
$petrol_blue-l48           : #75B4BF;
$petrol_blue-l32           : #4A9dAd;
$petrol_blue-l16           : #15869A;
$petrol_blue-base          : #007087;
$petrol_blue-d10           : #006479;
$petrol_blue-d20           : #00596B;
$petrol_blue-d30           : #004E5d;
$petrol_blue-d40           : #004351;
$petrol_blue-d50           : #003743;
$petrol_blue-d80           : #00161B;

//	Olive Green
$olive_green-l100          : #FFFFFF;
$olive_green-l80           : #EBE8Cd;
$olive_green-l64           : #dAd6A5;
$olive_green-l48           : #CAC57d;
$olive_green-l32           : #BAB357;
$olive_green-l16           : #A9A132;
$olive_green-base          : #999016;
$olive_green-d10           : #898213;
$olive_green-d20           : #7A730F;
$olive_green-d30           : #6B640C;
$olive_green-d40           : #5B5609;
$olive_green-d50           : #4C4706;
$olive_green-d80           : #1F1d01;

//	Purple
$purple-l100               : #FFFFFF;
$purple-l80                : #dCd3E4;
$purple-l64                : #BFB0CE;
$purple-l48                : #A38dB9;
$purple-l32                : #886BA4;
$purple-l16                : #6B498F;
$purple-base               : #4F287A;
$purple-d10                : #46236d;
$purple-d20                : #3F2061;
$purple-d30                : #361B54;
$purple-d40                : #2F1748;
$purple-d50                : #27133C;
$purple-d80                : #100718;

//	Pale Aqua
$pale_aqua-l100            : #FFFFFF;
$pale_aqua-l80             : #EAF6F4;
$pale_aqua-l64             : #dBEFEB;
$pale_aqua-l48             : #CAE8E3;
$pale_aqua-l32             : #BBE0dB;
$pale_aqua-l16             : #AAd9d2;
$pale_aqua-base            : #9Bd2CA;
$pale_aqua-d10             : #8ABCB5;
$pale_aqua-d20             : #7BA7A1;
$pale_aqua-d30             : #6C928d;
$pale_aqua-d40             : #5C7E79;
$pale_aqua-d50             : #4C6964;
$pale_aqua-d80             : #1E2A28;

//	Deep Green
$deep_green-l100           : #FFFFFF;
$deep_green-l80            : #CBdCd9;
$deep_green-l64            : #A1BFBA;
$deep_green-l48            : #77A29C;
$deep_green-l32            : #4E877E;
$deep_green-l16            : #226B60;
$deep_green-base           : #004F42;
$deep_green-d10            : #00463B;
$deep_green-d20            : #003F34;
$deep_green-d30            : #00362E;
$deep_green-d40            : #002F27;
$deep_green-d50            : #002720;
$deep_green-d80            : #00100d;

//	NXP Orange
$nxp_orange-l100           : #FFFFFF;
$nxp_orange-l80            : #FFEFCd;
$nxp_orange-l64            : #FFE3A5;
$nxp_orange-l48            : #FEd77E;
$nxp_orange-l32            : #FECB59;
$nxp_orange-l16            : #FdBF37;
$nxp_orange-base           : #FEB421;
$nxp_orange-d10            : #E3A11C;
$nxp_orange-d20            : #CB8F18;
$nxp_orange-d30            : #B07d14;
$nxp_orange-d40            : #986B0F;
$nxp_orange-d50            : #7E590B;
$nxp_orange-d80            : #322402;

//	NXP Blue
$nxp_blue-l100             : #FFFFFF;
$nxp_blue-l80              : #E3EFF7;
$nxp_blue-l64              : #CdE2F1;
$nxp_blue-l48              : #B7d6EB;
$nxp_blue-l32              : #A1CAE5;
$nxp_blue-l16              : #8BBEdF;
$nxp_blue-base             : #75B2dA;
$nxp_blue-d10              : #689FC3;
$nxp_blue-d20              : #5d8EAE;
$nxp_blue-d30              : #517B97;
$nxp_blue-d40              : #456A82;
$nxp_blue-d50              : #3A586C;
$nxp_blue-d80              : #17232B;

//	NXP Green
$nxp_green-l100            : #FFFFFF;
$nxp_green-l80             : #F5F5Cd;
$nxp_green-l64             : #EdECA6;
$nxp_green-l48             : #E4E57F;
$nxp_green-l32             : #dCdE5A;
$nxp_green-l16             : #d4d739;
$nxp_green-base            : #CBd024;
$nxp_green-d10             : #B6BA1F;
$nxp_green-d20             : #A2A61B;
$nxp_green-d30             : #8E9016;
$nxp_green-d40             : #7A7C11;
$nxp_green-d50             : #65670C;
$nxp_green-d80             : #292902;

//	NXP Deep Orange
$nxp_deep_orange-l100      : #FFFFFF;
$nxp_deep_orange-l80       : #FCE1CE;
$nxp_deep_orange-l64       : #F8C9A6;
$nxp_deep_orange-l48       : #F5B180;
$nxp_deep_orange-l32       : #F2995B;
$nxp_deep_orange-l16       : #EF8236;
$nxp_deep_orange-base      : #EB6B19;
$nxp_deep_orange-d10       : #d36015;
$nxp_deep_orange-d20       : #BC5512;
$nxp_deep_orange-d30       : #A44A0F;
$nxp_deep_orange-d40       : #8d400C;
$nxp_deep_orange-d50       : #753508;
$nxp_deep_orange-d80       : #2F1502;

//  Common Names
$white-base                 : $white-base;
$black                      : #000000;
$nxp-orange                 : $nxp_orange-base;

// ------------------------------------------------------------
// :: Event Tool Colors
// ------------------------------------------------------------

//  $sidebar-main          : $grey-40;
//  $sidebar-main          : darken(#007088, 5);
  $sidebar-main          : $dark-blue;
//$sidebar-main           : $nxp_deep_orange-l32;


// ------------------------------------------------------------
// :: Typography
// ------------------------------------------------------------

// Import google fonts or define webfonts from uploaded files
@import url("//fonts.googleapis.com/css?family=Lato:400,400i,700,700i");

// list of fonts
$primary-font       : Arial, Helvetica, sans-serif;
$secondary-font     : "Lato", sans-serif;
$tertiary-font      : "";
$icon-font          : "Glyphicons Halflings";

$base-font-size     : 1.4rem; // 16px

// ------------------------------------------------------------
// :: Breakpoints
// ------------------------------------------------------------

// Defining Bootstrap viewport sizes.
$vp-small       : 768px;  // small size
$vp-mid         : 992px;  // mid size
$vp-large       : 1200px; // large size
