@import "variables";
@import "mixins";

/* start _normalize.scss */
@import "inc/normalize";
/* end _normalize.scss */

/* start _navigation.scss */
@import "inc/navigation";
/* end _navigation.scss */

/* start _colors.scss */
@import "inc/colors";
/* end _colors.scss */

/* start _body.scss */
@import "inc/body";
/* end _body.scss */

/* start _typography.scss */
@import "inc/typography";
/* end _typography.scss */

/* start _buttons.scss */
@import "inc/buttons";
/* end _buttons.scss */

/* start _helper-classes.scss */
@import "inc/helper-classes";
/* end _helper-classes.scss */

/* start _grid.scss */
@import "inc/grid";
/* end _grid.scss */

/* start _footer.scss */
@import "inc/footer";
/* end _footer.scss */

/* start _tooltip.scss */
@import "inc/tooltip";
/* end _tooltip.scss */

/* start _accordion.scss */
@import "inc/accordion";
/* end _accordion.scss */

/* start _panels.scss */
@import "inc/panels";
/* end _panels.scss */

/* start _contacts.scss */
@import "inc/contacts";
/* end _contacts.scss */

/* start _dashboard-widget.scss */
@import "inc/dashboard-widget";
/* end _dashboard-widget.scss */

/* start _widgets.scss */
@import "inc/widgets";
/* end _widgets.scss */

/* start _icons.scss */
@import "inc/icons";
/* end _icons.scss */

/* start _tiles.scss */
@import "inc/tiles";
/* end _tiles.scss */

/* start _inbox.scss */
@import "inc/inbox";
/* end _inbox.scss */

/* start _forms.scss */
@import "inc/forms";
/* end _forms.scss */

/* start _glyphicons.scss */
@import "inc/glyphicons";
/* end _glyphicons.scss */

// form tags input orig location

/* start _tabs.scss */
@import "inc/tabs";
/* end _tabs.scss */

/* start _timeline.scss */
@import "inc/timeline";
/* end _timeline.scss */

/* start _profile-social.scss */
@import "inc/profile-social";
/* end _profile-social.scss */

// Widgets Second Area

/* start _pricing.scss */
@import "inc/pricing";
/* end _pricing.scss */

/* start _media-gallery.scss */
@import "inc/media-gallery";
/* end _media-gallery.scss */

/* start _tabs-vertical.scss */
@import "inc/tabs-vertical";
/* end _tabs-vertical.scss */

/* start _images.scss */
@import "inc/images";
// called image cropping in original file
/* end _images.scss */

/* start _morris.scss */
@import "inc/morris";
/* end _morris.scss */

/* start _ecommerce.scss */
@import "inc/ecommerce";
/* end _ecommerce.scss */

/* start _login.scss */
@import "inc/login";
//  some helper classes included like alignleft, clearfix...
/* end _login.scss */

/* start _nprogress.scss */
@import "inc/nprogress";
/* end _nprogress.scss */

/* start _wysiwyg */
@import "inc/wysiwyg";
/* end _wysiwyg */

/* start _select2.scss */
@import "inc/select2";
/* end _select2.scss */

/* start _switchery.scss */
@import "inc/switchery";
/* end _switchery.scss */

/* start _cropper.scss */
@import "inc/cropper";
/* end _cropper.scss */

/* start _jquery-smart-wizard.scss */
@import "inc/jquery-smart-wizard";
/* end _jquery-smart-wizard.scss */

/* start _progress-bar.scss */
@import "inc/progress-bar";
/* end _progress-bar.scss */

/* start _pnotify.scss */
@import "inc/pnotify";
/* end _pnotify.scss */

/* start _daterange.scss */
@import "inc/daterange";
/* end _daterange.scss */

/* start _fullcalendar.scss */
@import "inc/fullcalendar";
/* end _fullcalendar.scss */

/* start _dropzone.scss */
@import "inc/dropzone";
/* end _dropzone.scss */

/* start _third-party.scss */
@import "inc/third-party";
/* end _third-party.scss */

/* start _content-explorer.scss */
@import "inc/content-explorer";
/* end _content-explorer.scss */ 
