body {
  background: $sidebar-main;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left_col {
  background: $sidebar-main;
}

.main_content {
  padding: 10px 20px;
}

article.media {
  width: 100%;
}
