// variables
$white     : #ffffff;
$grey      : #B5B2B1;
$beige     : #fafafa;
$orange    : #f9b500;
$black     : #000000;

$box-shadow      : 0 1px 1px 0 rgba($black,0.1);

// Bootstrap help
.row { width: 100%; }
.img-responsive { margin-right: 1em; }

// Aside
aside {
  margin-top: 2em;
}

// Left Nav
.left-nav {
  padding: 0;
  margin-left: .5em;
  list-style: none;

  &-title {
    font-size: 1em;
    font-weight: 700;
    margin: 0;
    line-height: 1.5em;
  }

//  > li > a
  .item {
    position: relative;

    &:after {
      position: relative;
      display: inline-block;
      margin-left: 5px;
      font-family: $icon-font;
      font-size: .75em;
      vertical-align: bottom;
    }

    &.open {
      &:after { content: "\e253" }
    }
    &.closed {
      &:after { content: "\e252" }
    }
  }

  ul {
    list-style: none;
    padding-left: .75em;
  }
}

// Header
header {
//  position: fixed;
//  top: 0;
//  left: 50%;
//  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 100%;
//  max-width: 780px;
  padding: 2em;
  margin: 0 auto;
  background: $white;
  z-index: 99;

  h2 {
    flex: 1 0 200px;
    margin: 0 auto;
    color: $black;
    text-align: center;
  }

  a {
    color: $black;

    &:hover, &:active {
      color: lighten($black,35%);
    }
  }
}

// SCSS
.main {
  width: 100%;
//  max-width: 785px;
  padding: 0 20px;
  margin: 1em auto;
}

.hour-marker {
  position: relative;
  padding: 1em 1em 1em 55px;
  color: $black;
  background: darken($beige, 3%);
  box-shadow: $box-shadow;

  h4 {
    position: relative;

    &:before, &:after {
      content: "";
      position: absolute;
      top: 50%;
      right: .5em;
      background: $black;
      transform: translateY(-50%);
    }

    &:before {
      width: calc(100% - 100px);
      height: 2px;
    }

    &:after {
      top: 50%;
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }
  }
}

.session-item {
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0;
  padding: 1em;
  font-weight: 300;
  background: $beige;
  box-shadow: $box-shadow;

  > .left-col, .right-col {
    flex: 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .mid-col { flex: 1 0 30px; padding: 0 1em; }
}

// Left Column
.glyphicon-star{
    padding: .25em;
    font-size: 1em;
    text-align: center;
    line-height: 1;
    border: 1px solid $orange;
    border-radius: 50%;

    &.unselected {
      color: $grey;
      background: transparent;
    }
    &.selected {
      color: $beige;
      background: $orange;
    }
  }

// Middle Column
.session-item-info {
  padding: 0;
  list-style: none;
  margin: 0;

  &.meta {
    color: $grey;
  }

  &.session-meta {
    font-style: italic;
  }

  > li {
    display: inline-block;
    padding-right: .5em;
  }
}

.session-title > li {
  margin: .25em 0;
  font-size: 16px;
  font-weight: 700;
}

.content {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  position: relative;
  flex: 1 0 calc(100% - 140px);
  padding-top: 1em;
  margin: 1em calc(1em + 30px);
  border-top: 1px solid $black;

  .description {
    margin-bottom: 1em;
  }
}

// Presenter Info
.presenter-info-container {
  display: flex;

  .presenter-container, .co-presenter-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: calc(100% - 160px);
    width: 100%;

    .presenter {
      flex: 1 0 40%;
      display: flex;
      flex-flow: row wrap;
      align-items: flex-start;
      padding-right: 20px;
      margin-bottom: 1.5em;

      &.co-presenter {
        flex: 0 0 40%;
      }
    }

    .glyphicon-user {
      font-size: 2em;
      padding: .5em .25em 0;
      margin-right: .5em;
      background: $grey;
    }

    .presenter-info {
      flex: 1 0 30px;
      margin-bottom: 1em;

      .presenter-lead { margin: 0; }
      .presenter-title {
        margin: 0 0 .125em;
      }

      .presenter-credentials {
        margin: 0;
        font-style: italic;
        line-height: 1.125;
      }
    }

    .presenter-bio {
      flex: 1 0 100%;
    }
  }
}

.co-presenter {
  // need to nest within co-presenter-container
  flex: 1 0 100% !important;
}

.session-meta-info {
  width: 100%;
  margin: 1.5em 0 0;
  font-size: .85em;

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      padding-right: .5em;
      &:last-of-type { padding: 0; }
    }
  }
}
