//  ---------------------------------------------------------------------------
//  ::  Random Stuff
//  ::  Form Controls
//  ::  Input Groups
//  ::  Label Controls
//  ::
//  ---------------------------------------------------------------------------
.editor.btn-toolbar {
  zoom: 1;
  background: #F7F7F7;
  margin: 5px 2px;
  padding: 3px 0;
  border: 1px solid #EFEFEF;
}

.ln_solid {
  border-top: 1px solid #e5e5e5;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}
span.section {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
//  Form Control
//  ---------------------------------------------------------------------------
.form-control {
  border-radius: 4px; //  Set to 4px so it looks consistent across browsers
  width: 100%;
//  -webkit-appearance: none;
//  -webkit-border-radius: 0px;

  &:focus {
    border-color: #CCD0D7;
    box-shadow: none !important;
  }

  &-feedback {
    margin-top: 8px;
    height: 23px;
    color: #bbb;
    line-height: 24px;
    font-size: 15px;

    &.left {
      border-right: 1px solid #ccc;
      left: 13px;
    }

    &.right {
      border-left: 1px solid #ccc;
      right: 13px;
    }
  }

  &.has-feedback-left {
    padding-left: 45px;
  }

  &.has-feedback-right {
    padding-right: 45px;
  }
}

//  Input Groups
//  ---------------------------------------------------------------------------
.input-group {
  margin-bottom: 10px;
}

//  Control Labels
//  ---------------------------------------------------------------------------
.control-label {
  font: {
    size: 1.4rem;
    weight: 300;
  }

  .form-horizontal & {
    padding-top: 8px
  }
}

//  Form Groups
//  ---------------------------------------------------------------------------
.form-group {
  margin-bottom: 1.6rem;

  .form-horizontal & {
    margin-right: 0;
    margin-left: 0;
  }
}

fieldset {
//  margin-bottom: 1.6rem;
}

form .row {
//  margin-bottom: 1.6rem;
}

form {
  font-size: 1.4rem;

  fieldset {
    margin-bottom: 1.6rem;

    .row {
//      margin-bottom: 1.4rem;
    }
  }
}

//  Legends & Titles
//  ---------------------------------------------------------------------------
legend {
  padding-bottom: .4rem;
  margin-bottom: .7rem;
  font-size: 1.6rem;
  color: inherit;
}

.checklist-title-header {
  padding: .7rem 0 .7rem 2rem;
  margin: 0 0 .7rem;
  background: $white-d10;
}


//  Form States
//  ---------------------------------------------------------------------------

.validate {
  margin-top: 10px;
}
.invalid-form-error-message {
  margin-top: 10px;
  padding: 5px;
}
.invalid-form-error-message.filled {
  border-left: 2px solid #E74C3C;
}
p.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}
p.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}
ul.parsley-errors-list {
  list-style: none;
  color: #E74C3C;
  padding-left: 0;
}
input.parsley-error, textarea.parsley-error, select.parsley-error {
  background: #FAEDEC;
  border: 1px solid #E85445;
}
.btn-group .parsley-errors-list {
  display: none;
}
.bad input, .bad select, .bad textarea {
  border: 1px solid #CE5454;
  box-shadow: 0 0 4px -2px #CE5454;
  position: relative;
  left: 0;
  -moz-animation: .7s 1 shake linear;
  -webkit-animation: 0.7s 1 shake linear;
}
.item input, .item textarea {
  -webkit-transition: 0.42s;
  -moz-transition: 0.42s;
  transition: 0.42s;
}

/* alerts (when validation fails) */

.item .alert {
  float: left;
  margin: 0 0 0 20px;
  padding: 3px 10px;
  color: #FFF;
  border-radius: 3px 4px 4px 3px;
  background-color: #CE5454;
  max-width: 170px;
  white-space: pre;
  position: relative;
  left: -15px;
  opacity: 0;
  z-index: 1;
  transition: 0.15s ease-out;
}
.item .alert::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-color: transparent #CE5454 transparent transparent;
  border-style: solid;
  border-width: 11px 7px;
  position: absolute;
  left: -13px;
  top: 1px;
}
.item.bad .alert {
  left: 0;
  opacity: 1;
}

.inl-bl {
  display: inline-block;
}
.well .markup-heading {}
.well .markup {
  background: #fff;
  color: #777;
  position: relative;
  padding: 45px 15px 15px;
  margin: 15px 0 0 0;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  box-shadow: none;
}
.well .markup::after {
  content: "Example";
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: bold;
  color: #bbb;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* ***** autocomplete ***** */

.autocomplete-suggestions {
  border: 1px solid #e4e4e4;
  background: #F4F4F4;
  cursor: default;
  overflow: auto;
}
.autocomplete-suggestion {
  padding: 2px 5px;
  font-size: 1.2em;
  white-space: nowrap;
  overflow: hidden;
}
.autocomplete-selected {
  background: #f0f0f0;
}
.autocomplete-suggestions strong {
  font-weight: normal;
  color: #3399ff;
  font-weight: bolder;
}
/* ***** /autocomplete *****/



/* *********  /form design  **************************** */

/* *********  form textarea  **************************** */

textarea {
  padding: 10px;
  vertical-align: top;
  width: 200px;
  resize: none;
}
textarea:focus {
  outline-style: solid;
  outline-width: 2px;
}

//  Buttons


.tagsinput {
  border: 1px solid #CCC;
  background: #FFF;
  padding: 6px 6px 0;
  width: 300px;
  overflow-y: auto;
}
span.tag {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: block;
  float: left;
  padding: 5px 9px;
  text-decoration: none;
  background: #1ABB9C;
  color: #F1F6F7;
  margin-right: 5px;
  font-weight: 500;
  margin-bottom: 5px;
  font-family: helvetica;
}
span.tag a {
  color: #F1F6F7 !important;
}
.tagsinput span.tag a {
  font-weight: bold;
  color: #82ad2b;
  text-decoration: none;
  font-size: 11px;
}
.tagsinput input {
  width: 80px;
  margin: 0px;
  font-family: helvetica;
  font-size: 13px;
  border: 1px solid transparent;
  padding: 3px;
  background: transparent;
  color: #000;
  outline: 0px;
}
.tagsinput div {
  display: block;
  float: left;
}
.tags_clear {
  clear: both;
  width: 100%;
  height: 0px;
}
.not_valid {
  background: #FBD8DB !important;
  color: #90111A !important;
}

//  Drag File Form Select
.select-file-group {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}

// Sponsor Application Form
.sponsor-app-events {
  .checkbox {
    &:hover { box-shadow: 0 1px 0 0 $white-d10; }

    > label {
      @include respond-to-max($vp-small) {
        // setting width to split name & cost
        width: 75%;
      }
    }
  }
}

// Legend
legend {
  border-bottom: 2px solid #e6e9ed;
}
