.x_panel {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px 17px;
  display: inline-block;
  background: #fff;
  border: 1px solid #E6E9ED;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  opacity: 1;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -webkit-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.x_title {
  padding: 1px 5px 6px;
  margin-bottom: 10px;
  border-bottom: 2px solid #E6E9ED;

  h2 {
    display: block;
    float: left;
    overflow: hidden;
    margin: 5px 0 6px;
    text-overflow: ellipsis;
    white-space: nowrap;

    small {
      margin-left: 10px;
    }
  }

  span { color: #BDBDBD; }

  .filter {
    float: right;
    width: 40%;
  }
}

.x_content {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  padding: 0 5px 6px;
  margin-top: 5px;

  h4 {
//    font-size: 16px;
    font-weight: 500;
  }
}

.x_content_inner {
  margin-bottom: 30px;
}


.panel_toolbox {
  float: right;

  > li {
    float: left;
    cursor: pointer;

    a {
      padding: 5px;
      font-size: 14px;
      color: #C5C7CB;

      &:hover {
        background: #F5F7FA;
      }
    }
  }
}

legend {
  padding-bottom: 7px;
}
.demo-placeholder {
  height: 280px;
}
