// Lists
@mixin list-unstyled() {
  padding-left: 0;
  margin-left: 0;
  list-style: none;

  > li {
    padding-left: 0;
  }
}

// Media Queries
@mixin breakpoint($point) {
  @media screen and (min-width: $point) {
    @content;
  }
}

@mixin breakpoint-max($point) {
  @media screen and (max-width: $point - 1) {
    @content;
  }
}