// Grayscale
$white: #fff;
$black: #000;
$gray-0: #f8f9fa;
$gray-1: #f1f3f5;
$gray-2: #e9ecef;
$gray-3: #dee2e6;
$gray-4: #ced4da;
$gray-5: #adb5bd;
$gray-6: #868e96;
$gray-7: #495057;
$gray-8: #343a40;
$gray-9: #212529;

// Colors
$purple: rebeccapurple;

// Commons
$background-ui: $gray-0;
$border-color: $gray-3;
$divider-color: $gray-4;
$headings-color: $gray-9;
$text-color: $gray-8;
$text-muted: $gray-7;

// Grid
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;

// Fonts
$font-size-large: 18px;
$font-size-base: 16px;
$font-size-small: 14px;

$font-weight-base: 400;
$font-weight-heavy: 700;

// Animations
$animation-duration-base: 300ms;
$animation-duration-fast: 200ms;
$animation-duration-slow: 500ms;
$cubic-bezier-base: cubic-bezier(0.04, 0, 0.2, 1);
