@import "../inc/setup";

// Hide mobile menu, need better solution than this
body {
  overflow-x: hidden;
}

.site {
  &-header {
    padding-top: 15px;
    padding-bottom: 15px;

    &-inner {
      display: flex;
      align-items: center;
    }
  }

  &-title {
    flex-shrink: 0;
    display: block;
    font-size: $font-size-large;
    color: $text-color;
    text-decoration: none;
  }

  &-name {
    display: block;
    font-weight: $font-weight-heavy;
  }

  &-description {
    font-size: $font-size-small;
  }

  &-nav {
    position: relative;
    margin-left: auto;
    text-align: right;

    ul {
      // display: none;
      margin-bottom: 0;
      margin-left: 0;
      list-style: none;

      @include breakpoint-max($screen-small) {
        position: absolute;
        top: 100%;
        right: 0;
        z-index: 1;
        padding: 10px;
        margin-top: 20px;
        background-color: $white;
        border: 1px solid $border-color;
        border-radius: 3px;
        transform: translateX(110%);
        transition: transform $animation-duration-base $cubic-bezier-base;

        &.open {
          transform: translateX(0);
        }
      }

      @include breakpoint($screen-small) {
        display: flex;
      }
    }

    li {
      margin-bottom: 0;
    }

    a {
      display: inline-block;
      padding: 10px;
      font-size: $font-size-small;
      color: $text-color;
      text-decoration: none;
      transition: all $animation-duration-base $cubic-bezier-base;

      &:hover {
        background-color: rgba($black, 0.05);
      }
    }

    &-toggle {
      color: $text-color;
      background-color: transparent;
      border: none;

      @include breakpoint($screen-small) {
        display: none;
      }
    }
  }
}
