@import "../inc/setup";

.info {
  // container
  &-block {
    position: relative;
    // background-color: coral;
  }

  // profile image and name container
  // &-image {
  //   // text-align: center;
  // }

  // Name
  &-name {
    // TODO: check global text color
    margin-bottom: 5px;
  }

  // Position/title
  &-title {
    // TODO: set to a lighter color
    color: $text-muted;
  }

  // Details list
  &-list {
    @include list-unstyled();
    font-size: $font-size-small;
    color: $text-muted;

    > li {
      margin-bottom: 0;
      line-height: 2;
    }

    a {
      display: block;
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Helper class for underline where a link will go
.underline {
  text-decoration: underline;
}

// Image styles here
.img {
  // display: block;
  max-width: 120px;
  // margin-right: auto;
  margin-bottom: 30px;
  // margin-left: auto;
  border-radius: 50%;
}
