@import "../inc/setup";

.item {
  padding-top: 30px;
  padding-bottom: 30px;

  // & + & {
  //   border-top: 1px solid $gray-4;
  // }

  > :last-child {
    margin-bottom: 0;
  }

  &-title {
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    margin-bottom: 5px;
    font-size: 20px;

    &-main {
      flex-basis: 330px;
      flex-grow: 1;
      padding-right: 30px;
      margin-bottom: 5px;
    }

    &-meta {
      font-size: $font-size-small;
      font-weight: normal;
      color: $text-muted;
      line-height: 1.5;
    }
  }

  &-meta {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: bold;
    color: $text-muted;
    text-transform: uppercase;
    letter-spacing: 0.04em;
  }

  &-content {
    position: relative;

    ul {
      margin-left: 1em;
      list-style-type: "\203A";

      li {
        padding-left: 1em;
      }
    }

    > :last-child {
      margin-bottom: 0;
    }
  }
}
