.breadcrumbs {
  float: left;
  margin: 0;
  padding: 18px 0 0;
  list-style: none;

  li {
    position: relative;
    display: inline;
    margin-right: 20px;
    font-size: .75em;

    &:before {
      content: "\f105";
      position: absolute;
      top: 0;
      right: -20px;
      width: 10px;
      height: 10px;
      font: normal normal normal 14px/1 FontAwesome;
    }

    &:last-of-type {
      margin-right: 0;
      font-weight: 700;

      &:before { display: none; }
    }
  }
}
