.nav-sm {
  .container.body {
    .col-md-3.left_col {
      width: 70px;
      padding: 0;
      z-index: 9999;
      position: absolute;

      &.menu_fixed {
        position: fixed;
        height: 100%;
      }

      .mCSB_container,
      .mCustomScrollBox {
        overflow: visible;
      }
    }
  }
}

.nav-sm .container.body .col-md-3.left_col.menu_fixed {
//  position: fixed;
//  height: 100%;
}
.nav-sm .container.body .col-md-3.left_col .mCSB_container,
.nav-sm .container.body .col-md-3.left_col .mCustomScrollBox {
//  overflow: visible;
}
.nav-sm .hidden-small {
  visibility: hidden;
}
.nav-sm .container.body .right_col {
  padding: 10px 20px;
  margin-left: 70px;
  z-index: 2;
}

.nav-sm .main_container .top_nav {
  display: block;
  margin-left: 70px;
  z-index: 2;
}
.nav-sm .nav.side-menu li a {
  text-align: center !important;
  font-weight: 400;
  font-size: 10px;
  padding: 10px 5px;
}
.nav-sm .nav.child_menu li.active,
.nav-sm .nav.side-menu li.active-sm {
  border-right: 5px solid #1ABB9C;
}
.nav-sm ul.nav.child_menu ul,
.nav-sm .nav.side-menu li.active-sm ul ul {
    position: static;
    width: 200px;
    background: none;
}
.nav-sm > .nav.side-menu > li.active-sm > a {
  color: #1ABB9C !important;
}
.nav-sm .nav.side-menu li a i.toggle-up {
  display: none !important;
}
.nav-sm .nav.side-menu li a i {
  font-size: 25px !important;
  text-align: center;
  width: 100% !important;
  margin-bottom: 5px;
}
.nav-sm ul.nav.child_menu {
  left: 100%;
  position: absolute;
  top: 0;
  width: 210px;
  z-index: 4000;
  background: #3E5367;
  display: none;
}
.nav-sm ul.nav.child_menu li {
  padding: 0 10px;
}
.nav-sm ul.nav.child_menu li a {
  text-align: left !important;
}
.nav-sm .profile {
  display: none;
}

.nav-sm .menu_section {
  margin: 0;
}
.nav-sm span.fa,
.nav-sm .menu_section h3 {
  display: none;
}
.nav-sm li li span.fa {
  display: inline-block;
}
