// sizing variables
		$even-arrow 			: 1.75em;
		$top-heavy-top		: 2.5em;
		$top-heavy-bottom	: 1em;
		$bottom-arrow		  : 3.5em;

*, *:before, *:after { box-sizing: border-box; }

.wizard {
	display: flex;
	justify-content: space-around;
	padding: 0;
  margin: 0 auto 1em;
	list-style: none;

	&-item {
		position: relative;
		flex: 1 0 auto;
		// not sure why -1px is needed here, but it works
//		height: calc(($even-arrow * 2) - 1px);
//		height: ($even-arrow * 2);
    height: 48px;
		padding: 1em;
		margin-right: 30px;
		color: #333333;
		background: #cccccc;
		border-color: #cccccc;

		&.active {
			background: #a7a7a7;
			border-color: #a7a7a7;

			&:hover {
				background: darken(#a7a7a7, 5%);
				border-color: darken(#a7a7a7, 5%);
			}
		}

		// common between the two
		&:before, &:after {
			content: "";
			position: absolute;
			top: 0;
			width: 0;
			height: 0;
		}

		&:before {
			right: -20px;
			border-top: $even-arrow solid transparent;
			border-left: 20px solid transparent;
			border-left-color: inherit;
			border-bottom: $even-arrow solid transparent;
		}

		&:after {
			left: -20px;
			border-top: $even-arrow solid transparent;
			border-top-color: inherit;
			border-left: 20px solid transparent;
			border-bottom: $even-arrow solid transparent;
			border-bottom-color: inherit;
		}

		&:first-of-type {
//			border-radius: 6px 0 0 6px;
			&:after { display: none; }
		}

		&:last-of-type {
			margin-right: 0;
//      border-radius: 0 6px 6px 0;

			&:before { display: none; }
		}

		&:hover {
			color: initial;
			text-decoration: none;
			background: darken(#cccccc, 5%);
			border-color: darken(#cccccc, 5%);

			&:before {
				border-left-color: inherit;
			}

			&:after {
				border-top-color: inherit;
				border-bottom-color: inherit;
			}
		}

		&:active, &:focus {
			color: initial;
			text-decoration: none;
		}

		.glyphicon {
			width: 20px;
			text-align: center;
		}
	}
}

// Tab Content Area
.tab-content {
	padding: 1.5em;
}
